/* Topbar Styling */
.topbar {
    background-color: #eceff3; /* Blue background */
    color: Green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .contact-info {
    display: flex;
    gap: 20px;
  }
  
  .contact-item {
    font-size: 16px;
  }
  
  .social-icons {
    display: flex;
    gap: 20px;
  }
  
  .social-icon {
    font-size: 20px;
    color: Green;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #F97316; /* Pop color (orange) for social media icons on hover */
  }
  
  .topbar .contact-item svg {
    margin-right: 5px;
  }
  