/* General Container Styles */
.event-system-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .page-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .calendar-container {
    margin-bottom: 40px;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .selected-events-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .events-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #444;
  }
  
  .event-list {
    list-style-type: none;
    padding: 0;
  }
  
  .event-item {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .event-item:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .event-item h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
  }
  
  .event-item p {
    margin: 5px 0;
    font-size: 1rem;
    color: #666;
  }
  
  .toast-container {
    z-index: 9999;
  }
  